<div id="customerInfo">
    <h3>Information About Customers' Shopping Lists</h3>
    <div class="row">
        <div class = 'col-md-3'>
            <p>Find the customer whose</p>
        </div>
        <div class = 'col-md-2'>
            <select ng-model="aggregation1" ng-options="x for x in aggregations">
            </select>
        </div>
        <div class = 'col-md-2'>
            <p>shopping list price is</p>
        </div>
        <div class = 'col-md-2'>
            <select ng-model="aggregation2" ng-options="x for x in ['MIN', 'MAX']">
            </select>
        </div>
        <div class = 'col-md-3'>
            <p>among all customers.</p>
        </div>

    </div>
    <button ng-click="searchPrices()" type="submit" class="btn btn-default">Search</button>
    <br>
    <br>
    <div ng-show="showResults">
        <h4>Results</h4>
        <div class = "row" ng-show="showResults">
            <div class="col-md-2">Customer Name</div>
            <div class="col-md-2">{{res.name}}</div>
        </div>
        <div class = "row" ng-show="showResults">
            <div class="col-md-2">Customer ID</div>
            <div class="col-md-2">{{res.uid}}</div>
        </div>
        <div class = "row" ng-show="showResults">
            <div class="col-md-2">Shopping List Price</div>
            <div class="col-md-2">{{res.agrprice}}</div>
        </div>
    </div>

</div>