<div id="deleteRecipes" ng-init="initRecipes()">
    <h3>Delete Recipe</h3>
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-3">
                <label for="recipe" class="control-label">Select recipe to delete:</label>
            </div>
            <div class="col-md-8">
                <select ng-model="recipe" ng-options="x.name for x in recipes" id="recipe">
                </select>
            </div>
        </div>

        <div>
            <button ng-click="deleteRecipe()" type="submit" class="btn btn-default">Delete Recipe</button>
        </div>
    </div>
    <br>
    
    <p ng-show="deleted">Recipe has been deleted</p>

</div>