
<!-- After logging in / signing up -->
<div id="home" class="col-sm-8 text-left" ng-init="initHome()">
    <h3 id="greeting">{{"Hey " + username + "!"}}</h3>
    <br/>
    <hr>
    <div class="list-group">
        <a href="#searchName" class="list-group-item list-group-item-action">Search Recipes by Name</a>
        <a href="#searchIngredients" class="list-group-item list-group-item-action">Search Recipes by Ingredients</a>
        <a href="#shoppingList" class="list-group-item list-group-item-action">Shopping List</a>
        <a href="#mealplan" class="list-group-item list-group-item-action">Meal Plan</a>


    <div ng-show = "admin">
        <h3>Admin Options</h3>
        <div class="list-group">
            <a href="#deleteRecipe" class="list-group-item list-group-item-action">Delete Recipe</a>
            <a href="#customerInfo" class="list-group-item list-group-item-action">Customer Shopping List Information</a>
            <a href="#customerIngredients" class="list-group-item list-group-item-action">
                Find shopping lists which have all the available ingredients
            </a>
            <a href="#updatePrice" class="list-group-item list-group-item-action">Update Ingredient Prices</a>
        </div>
    </div>
</div>

