
<!-- After logging in / signing up -->
<div id="home" class="col-sm-8 text-left" ng-init="getName()">
    <h3 id="greeting">{{"Hey " + username + "!"}}</h3>
    <br/>
    <hr>
    <div class="list-group">
        <a href="#searchName" class="list-group-item list-group-item-action">Search Recipes by Name</a>
        <a href="#searchIngredients" class="list-group-item list-group-item-action">Search Recipes by Ingredients</a>
        <a href="#" class="list-group-item list-group-item-action">Shopping List</a>
        <a href="#" class="list-group-item list-group-item-action">Meal Plan</a>

    </div>
</div>

