<!DOCTYPE html>
<html lang="en">
<head>
    <title>Meal Plan</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../index.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Food Planner</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid text-center">
    <br/>
    <div class="row content">
        <div class="col-sm-2">
        </div>

        <!-- Shows all the categories -->
        <div id="home" class="col-sm-8 text-left">
            <h3 id="greeting">Meal Plans:</h3>
            <br/>
            <hr>
            <div class="list-group">
                <a href="/views/breakfast.html" class="list-group-item list-group-item-action">Breakfast</a>
                <a href="/views/lunch.html" class="list-group-item list-group-item-action">Lunch</a>
                <a href="/views/dinner.html" class="list-group-item list-group-item-action">Dinner</a>
                <a href="/views/snacks.html" class="list-group-item list-group-item-action">Snacks</a>
            </div>
        </div>


    </div>
</div>

<footer class="container-fluid text-center">
    <p>Copyright FoodPlanner © 2017</p>
</footer>

</body>
</html>