<div id="recipeResults" class="col-sm-8 text-left" ng-init="initIngredients()">
    <h3>Shopping List</h3>
    <div class = "row">
        <div class = "col-md-8">
            <table class = "table">
                <tr >
                    <th>Ingredient</th>
                    <th>Price</th>
                </tr>
                <tr ng-repeat="i in ingredients">
                    <td>{{i.name}}</td>
                    <td>{{i.price}}</td>
                </tr>
            </table>
        </div>
        <div class = "col-md-4">
            <p>Info about your shopping list:</p>
            <div class="radio">
                <label>
                    <input type="radio" ng-model="agg" value = "max">
                    Most expensive item
                </label><br/>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" ng-model="agg" value = "min">
                    Least expensive item
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" ng-model="agg" value = "avg">
                    Average price of list
                </label><br/>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" ng-model="agg" value = "count">
                    Number of items in list
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" ng-model="agg" value = "sum">
                    Total price of shopping list
                </label>
            </div>
            <button ng-click="getAggregation()" type="submit" class="btn btn-default">Find Out</button>
            <br>
            <br>
            <div ng-show="aggregationInfo">
                <h5>{{agg + " of shopping list is:"}}</h5>
                <p>{{aggvalue}}</p>
            </div>
        </div>

    </div>


</div>
