<!DOCTYPE html>
<html lang="en">
<head>
  <title>Food Planner</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="../stylesheets/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="../index.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Food Planner</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid text-center">
<br/>
  <div class="row content">
  <div class="col-sm-2">
  </div>


    <!-- Welcome screen -->
    <div id="welcome" class="col-sm-8 text-left">
      <h2>Welcome to your Food Planner!</h2>
      <br/>
      <h3>First time user?</h3>
      <br/>
      <div class="form-group">
        <form id="signup">
          <label for="usr">Name:</label>
          <input type="text" class="form-control" id="username" placeholder="Kim K">
          <a href="/views/mealplanner.html"><button type="button" class="btn btn-primary">Sign up</button></a>
        </form>
      </div>

      <hr>
      <h3>Returning user?</h3>
      <br/>
      <div class="form-group">
        <form id="login">
          <label for="usr">Name:</label>
          <input type="text" class="form-control" id="loginname">
          <button id="log in" type="submit" class="btn btn-success">Log in</button>
        </form>
      </div>

      <hr>
      <p>Start planning your food and become a food ninja.</p>
    </div>

    <!-- After logging in / signing up -->
    <div id="home" class="col-sm-8 text-left">
      <h3 id="greeting">Hey</h3>
      <br/>
      <hr>
      <div class="list-group">
      <a href="#name" class="list-group-item list-group-item-action">Search Recipes by Name</a>
      <a href="#ingredient" class="list-group-item list-group-item-action">Search Recipes by Ingredients</a>
      <a href="#" class="list-group-item list-group-item-action">Shopping List</a>
      <a href="#" class="list-group-item list-group-item-action">Meal Plan</a>
    </div>
    </div>

    <div id="name" class="col-sm-8 text-left">
      <h2>Search Recipes by Name</h2>
      <div class="form-group">
      <form id="nameRecipe">
        <label for="recipeName">Name:</label>
        <input type="text" class="form-control" id="recipeName" placeholder="Chicken">
        <button id="nameSubmit" type="submit" class="btn btn-success">Search</button>
      </form>
      </div>
    </div>

    <div id="searchResult" class="col-sm-8 text-left">
      <h2>Recipe Results</h2>
      <div class="form-group">
        <div class = "recipeResult">
        </div>
      </div>
    </div>

  </div>
</div>

<footer class="container-fluid text-center">
  <p>Copyright FoodPlanner © 2017</p>
</footer>

</body>
</html>
