
    <!-- Welcome screen -->
  <div id="welcome" ng-show="welcomeShow" class="col-sm-8 text-left">
      {{display}}
      <h2>Welcome to your Food Planner!</h2>
      <br/>
      <h3>First time user?</h3>
      <br/>
      <div class="form-group">
        <form id="signup">
          <label for="username">Name:</label>
          <input type="text" ng-model="username" class="form-control" id="username" placeholder="Kim K">
          <button type="submit" class="btn btn-primary" ng-click="signUp()">Sign up</button>
        </form>
      </div>

      <hr>
      <h3>Returning user?</h3>
      <br/>
      <div class="form-group">
        <form id="login" ng-submit="login()">
          <label for="username">Name:</label>
          <input type="text" ng-model="loginname" class="form-control" id="loginname">
          <button id="log in" type="submit"  class="btn btn-success">Log in</button>
        </form>
      </div>


      <hr>
      <p>Start planning your food and become a food ninja.</p>
    </div>

     <!--After logging in / signing up -->
    <!--<div id="home" ng-show="homeShow" class="col-sm-8 text-left">-->
      <!--<h3 id="greeting">{{"Hey " + username}}</h3>-->
      <!--<br/>-->
      <!--<hr>-->
      <!--<div class="list-group">-->
      <!--<a href="#name" class="list-group-item list-group-item-action" onclick="searchName()">Search Recipes by Name</a>-->
      <!--<a href="#ingredient" class="list-group-item list-group-item-action">Search Recipes by Ingredients</a>-->
      <!--<a href="#" class="list-group-item list-group-item-action">Shopping List</a>-->
      <!--<a href="#" class="list-group-item list-group-item-action">Meal Plan</a>-->
    <!--</div>-->
    <!--</div>-->

    <!--<div id="name" ng-show = "nameShow" class="col-sm-8 text-left">-->
      <!--<h2>Search Recipes by Name</h2>-->
      <!--<div class="form-group">-->
      <!--<form id="nameRecipe" ng-submit>-->
        <!--<label for="recipeName">Name:</label>-->
        <!--<input type="text" class="form-control" id="recipeName" placeholder="Chicken">-->
        <!--<button id="nameSubmit" type="submit" class="btn btn-success">Search</button>-->
      <!--</form>-->
      <!--</div>-->
    <!--</div>-->

    <!--<div id="searchResult" ng-show = "resultShow" class="col-sm-8 text-left">-->
      <!--<h2>Recipe Results</h2>-->
      <!--<div class="form-group">-->
        <!--<div class = "recipeResult">-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->


